main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color:#C3CAD0;
}
#banner {
    display: none;
    margin: auto;
    margin-top: -20px;
    text-align: center;
    font-weight: 700;
    color:#FFCF3D;
    background-color:#153F65;
    padding: 10px;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    border:#FFCF3D;

}
aside {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem 1rem;
        background-color: #FFCF3D;
    }
header {
    text-align: center;
    background-color:#153F65;
    font-family: 'Barlow', sans-serif;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin-top: 4%;
}
header img {
    width: 80px;
    height: auto;
    padding: 0.5rem;
    margin: 0;
}
img {            
	max-width: 65%;
    height: auto;
    display: flex;
    

}
.capetownmap{
    max-width: 33%;
    padding-left: 50px;

    

}
h1 {
    font-size: 2rem;
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    margin-top: 4%;
    text-align: center;
}
h2, h3 {
    font-family: 'Barlow', sans-serif;
    color:#003E1F;
    text-align:center;
}
h4, h5 {
    font-family: 'Barlow', sans-serif;
    color:#FFCF3D;
    text-align:center;
}
h2 {
    font-size: 2.5rem;

}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
.motto {
    font-size: 10pt;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    text-align:center;
    /*font-style: italic;*/
}
p {
    color:#FFCF3D;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
a {
    color:#FFCF3D;
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    text-align: center;   
}
button {
    background-color:#003E1F;
    color:#00F57A;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}
nav {
	background-color:#003E1F;
    font-size: 1rem;
    color:#00F57A;
	text-align: center;
	box-shadow:10px 5px 5px black;
    max-width: 100%;
}
nav button {
    margin: 0.5rem 5%;
    font-size: 1rem;
    background-color:#003E1F;
    color:#00F57A;
    border: none;
    font-family: 'EB Garamond', serif;
}
nav ul.primaryNav {
    display:flex;
}
.active {
    background-color:rgba(214, 128, 15, 0.486);
}
nav ul li a {
    color:#FFCF3D;
	display: grid;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'EB Garamond', serif;
}
nav a:link, nav a:visited {
    color:#00F57A;
}
nav a:hover {
    background-color:#FFCF3D;
    color:#153F65;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hero {
	margin: 20px;
    width: auto;
    height: auto;
    position: relative;
}
.hero-img {
    max-width: 100%;
    max-height: 100%;
    margin: 25px auto;
   
}
.weathersummary {
	display: grid;
	position: absolute;
    text-align: center;
    top: 20px;
    left: 10px;
    margin-right: 10px;
    padding: 1rem;
    background: radial-gradient(#153F65,#C3CAD0);
    border: 2px solid black;
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.582);
    opacity: .9;
}
.weathersummary h2{
	font-size: 20px;
    margin-right: 10px;
    padding: 1rem;

}
.weathersummary p{
	font-size: 15px;
}
.name {
    grid-column: 1;
    line-height: 100%;
    text-align:center;  
}
.temp {
    grid-column: 2;
    line-height: 100%;
    margin-right: 100px;
    text-align: center; 
}
.flex { 
    display: flex;
    flex-flow: row wrap;
    margin: 50px;
    border: 5px solid black;
    padding-left: 150px;
   
    background-color: #153F65;
    color: whitesmoke;
}
 .flex-col {
    border: 2px solid black;
    text-align: center;
}
 .flex-col:hover {
    background-color:#00F57A;
    color:#003E1F;
    opacity: 0.75;
    cursor: pointer;
}
.col-head {
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    background-color: #003E1F;
    color: #00F57A;;
}
.data {
    display: flex;
    padding: 0 10px 10px;
    font-size: 2rem;
    text-align: center;
}
.hot1, .hot2, .hot3, .hot4, .hot5 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    padding: 0.25rem;
} 
.article-container {
    display: flex;
    margin: 10px auto;
    border: 1px solid #000;
    background-color:#153F65;
    padding: 15px;
    justify-content: space-between;
}
 *{
    box-sizing: border-box;
    padding: 0%;
    line-height: 1.1em;
}
.contact{
	background-color:#153F65; 
}

footer {
    background-color:#153F65;
    color:#FFCF3D;
    padding: 1rem;
    text-align:center;
    margin: 0.5rem;
    max-width: 100%;
}