body {
    background-color: #61afc7;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Barlow', sans-serif;
    background-color:#153F65;
   
  }
  .part {
    max-width: 400px;
    margin: 30px auto;
    border-radius: 5px;
    border: #FFCF3D 2px solid;
    background-color:#C3CAD0;
    padding: 10px 20px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #003E1F;
    background-color: #C3CAD0;
    border: #FFCF3D 2px solid;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    text-shadow: 0 5px 8px rgba(2, 0, 2, 0.8);
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }


  .info{
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
  }
  figcaption {
    font-size: 20px;
    font-weight: bold;
    text-transform:uppercase;
    text-align: center;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #003E1F;
    background-color: #C3CAD0;
    padding: 10px;
    border: #FFCF3D 2px solid;
    font-weight: bold;
  }
  

