

h1 {
    font-size: 2rem;
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    margin-top: 4%;
    text-align: center;
    padding: 0.75rem 1rem;

}

h2, p {
    
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    
    text-align: center;
    padding: 0.75rem 1rem;

}
main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color:#C3CAD0;
}

.imageContainer img{
    border: #FFCF3D 2px solid;
    object-fit: cover;
    width: 300px;
    height: 400px;
    max-width: 90%;
    margin: 10px;
    
}
.imagesContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

}

.article-container {
    margin: 0 auto;
    border: 5px solid #000;
    background-color:#153F65;
}
.info{
    color: #FFCF3D;
    text-align: center;
    padding: 0 0;
}
.main-heading{
    color: #FFCF3D;
    font-size: 20px;
    font-family:'Barlow', sans-serif;;
}
  
footer, header {
    background-color:#153F65;
    color:#FFCF3D;
    padding: 1rem;
    text-align:center;
    margin: 0.5rem;
    max-width: 100%;
}
