@media only screen and (min-width: 64em) {
    main {
        margin: 0 auto;
        max-width: 960px;
    }
    header {
        max-width: 100%;
        justify-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        margin-top: auto;
    }
    h2 {
        text-align: center;
    } 
    nav {
        max-width: 100%;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav button{
        display:none;
    }
    footer{
        margin: 0 auto;
        max-width: 1050px;
    }
    
}