img[data-src] {
    filter: blur(1em);
}
img {
    filter: blur(0em);
    transition: filter 1.5s;
    display: block;
    margin: auto    
}

*{
    box-sizing: border-box;
    padding: 0%;
    line-height: 1.1em;
}

h1 {
    font-size: 2rem;
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    margin-top: 4%;
    
}
h2, h3 {
    font-family: 'Barlow', sans-serif;
    color:#003E1F;
    text-align:center;
}
h4, h5 {
    font-family: 'Barlow', sans-serif;
    color:#FFCF3D;
    text-align:center;
}
h2 {
    font-size: 2.5rem;

}
h3 {
    font-size: 2rem;
    color: #FFCF3D;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}

p {
    color:#FFCF3D;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
a {
    color:#FFCF3D;
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    text-align: center;   
}
button {
    background-color:#003E1F;
    color:#00F57A;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}
nav {
	background-color:#003E1F;
    font-size: 1rem;
    color:#00F57A;
	text-align: center;
	box-shadow:10px 5px 5px black;
    max-width: 100%;
}
nav button {
    margin: 0.5rem 5%;
    font-size: 1rem;
    background-color:#003E1F;
    color:#00F57A;
    border: none;
    font-family: 'EB Garamond', serif;
}
nav ul.primaryNav {
    display:flex;
}
.active {
    background-color:rgba(214, 128, 15, 0.486);
}
nav ul li a {
    color:#FFCF3D;
	display: grid;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'EB Garamond', serif;
}
nav a:link, nav a:visited {
    color:#00F57A;
}
nav a:hover {
    background-color:#FFCF3D;
    color:#153F65;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hero {
	margin: 20px;
    width: auto;
    height: auto;
    position: relative;
}
.hero-img {
    max-width: 100%;
    max-height: 100%;
    margin: 25px auto;
   
}
.article-container {
    
    margin: 10px auto;
    border: 1px solid #000;
    background-color:#153F65;
    padding: 15px;
    justify-content: space-between;
}

.demo, .demo a {
    color:#FFCF3D;
    font-size: 20px;
}


h1 {
    font-size: 2rem;
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    margin-top: 4%;
    text-align: center;
    padding: 0.75rem 1rem;

}
main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color:#C3CAD0;
}

.imageContainer img{
    border: #FFCF3D 2px solid;
    object-fit: cover;
    width: 300px;
    height: 400px;
    max-width: 90%;
    margin: 10px;
    
}
.imagesContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

}

.article-container {
    margin: 0 auto;
    border: 5px solid #000;
    background-color:#153F65;
}
.info{
    color: #FFCF3D;
    text-align: center;
    padding: 0 0;
}
.main-heading{
    color: #FFCF3D;
    font-size: 20px;
    font-family:'Barlow', sans-serif;;
}
  
footer {
    background-color:#153F65;
    color:#FFCF3D;
    padding: 1rem;
    text-align:center;
    margin: 0.5rem;
    max-width: 100%;
}
/*--------------------------------------last part*-------------------------------------------------*/


.visit-container{
    text-align: center;
    padding: 10px 0 0 10px;
}
