main {
    margin: 0.5em;
    padding: 0.5rem;

}
* {
    box-sizing: border-box;
    padding: 0%;
    line-height: 1.1em;
}


/* Grid layout */
.hero, .summary, .call-to-action, .weather, .business-card, footer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 20px;
    background-color: yellowgreen;
}
/* Define the number of columns and their size for larger screens */
@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr 3fr;
    }
    header, footer {
        grid-column: 1 / span 2;
    }
    .hero, .summary, .call-to-action, .weather, .business-card {
        grid-column: 2;
    }
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:yellowgreen;
    color: #fff;
    padding: 10px;
  }

/*.logo{
    flex: 0 0 auto; 
        margin-right: 10px; 
}*/

.logo img {
    width: 80px;
    height: 80px;
    margin-left: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.header-text {
    flex: 1; 
      text-align: center;
}

/*.social-icons a {
    justify-self: end;}*/


.social-icons img {
    width: 30px;
    height: 30px;
    flex: 0 0 auto; 
    display: flex; 
    padding: 5px;

}
/*Navigation Bar*/

nav {
  align-items: center;
  max-width: 100%;
  text-align: center;
	box-shadow:10px 5px 5px black;
    background-color: #FFCF3D;
    color: #fff;
}

nav button {
  display: none;
  margin: 0.5rem 5%;
  font-size: 1rem;
}

.primaryNav {
  display: flex;
  list-style-type: none;
}

.primaryNav li {
  margin-right: 20px;
}

.primaryNav li:last-child {
  margin-right: 0;
}
.active {
    background-color: none;
}
.primaryNav li a {
  text-decoration: none;
  color: #333;
}
nav a:link, nav a:visited {
    color:black;
}
nav a:hover {
    background-color:yellowgreen;
    color:#153F65;
    cursor: pointer;
}
nav ul li a 
{
	display: grid;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
 font-family: 'EB Garamond', serif;
  
}@media (max-width: 768px) {
  nav button {
    display: block;
  }

  .primaryNav {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
  }

  .primaryNav.active {
    display: flex;
  }

  .primaryNav li {
    margin: 10px 0;
  }
}
.hero {
	margin: 20px;
    width: auto;
    height: auto;
    position: relative;
}
.hero-img {
    max-width: 100%;
    max-height: 100%;
    margin: 25px auto;
   
}

/*Weather Card*/
.weather {
   
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.weather img {
    width: 100px;
    height: 100px;
}

.forecast {
    margin-top: 20px;
}

.forecast h3 {
    margin-bottom: 10px;
}

.forecast li {
    margin-bottom: 5px;
}

/*Business Card*/
.business-card {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.business-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.business-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.business-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.business-card li {
    margin-bottom: 10px;
}

.business-card li strong {
    margin-right: 5px;
}
/*city Card Info @Zhanje*/
.summary  {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    
}

.summary h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.summary p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
    background-color: green;
}
.btn1 {
    display:grid;
    grid-row:5/6;
    grid-column:2/3;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #333;
      color: #fff;
    text-align: center;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    cursor: pointer;
  }
  

.btn1:hover {
    background-color: green;
}


/* Call to Action */

.call-to-action {
  display: grid;
 grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
     background-image: url('https://wallpapercave.com/wp/wp4166385.jpg');
      background-size: cover;
      background-position: center;
   width: 100%;
}
.call-to-action h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.call-to-action p {
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;


}
 .background-image {
      background-image: url('https://www.dailytechbyte.com/wp-content/uploads/2021/05/How-to-Convert-WebP-Images-to-PNG-or-JPG-without-any-application.jpg');
      background-size: cover;
      background-position: center;
   width: 100%;
}   



.card {
    flex-basis: 30%;
    background-color: green;
    padding: 20px;
}
footer {
    background-color: #FFCF3D;
    padding: 10px;
  text-align: center;
}




