main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color: #C3CAD0;
}
body {
    max-width: 960px;
    font-size: 16px;
    margin: auto;
    font-family: 'EB Garamond', serif;
    text-align:center;
}
header {
    text-align: center;
    background-color:#153F65;
    font-family: 'Barlow', sans-serif;
    margin: 0.5rem;
    padding-top: 0.5rem;
}
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
h1 {
    font-size: 80px;
    margin: auto;
    color:#FFCF3D;
}
h2, h3, h4, h5 {
    font-family: 'Barlow', sans-serif;
    color:#003E1F;
    text-align:center;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
p {
    color:#003E1F;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
}
.colors {
    width: 100%;
    max-width: 350px;
    margin: auto;
    text-align:center;
}
.colors th {
    background-color:#4D4D4D;
    color:whitesmoke;
}
.colors td {
    width: 50%;
    height: 3rem;
    border: 5px solid black;
}
.primary {
    background-color:#C3CAD0;
}
.secondary {
    background-color:#153F65;
}
.accent1 {
    background-color:#FFCF3D;
}
.accent2 {
    background-color:#003E1F;
}
.accent3 {
    background-color:#00F57A;
}
a {
    color:#003E1F;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    text-decoration: none;    
}
nav {
	background-color:#003E1F;
	text-align: center;
	box-shadow:10px 5px 5px black;
}
nav ul li a{
    background-color: #003E1F;
    color:#FFCF3D;
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'Barlow', sans-serif;
}
nav a:link, nav a:visited {
    color:#00F57A;
}
nav a:hover {
    background-color:#FFCF3D;
    color:#153F65;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer {
    background-color:#153F65;
    color:#FFCF3D;
    padding: 1rem;
    text-align:center;
    margin:0.5rem;
}