main {
  margin: 0.5em;
  padding: 0.5rem;
  background-color:#153F65;
}
  h1 {
    font-size: 1rem;
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    margin-top: 4%;
    text-align: center;
}
h2, h3 {
    font-family: 'Barlow', sans-serif;
    color:#FFCF3D;;
    text-align:center;
}
h4, h5 {
    font-family: 'Barlow', sans-serif;
    color:#FFCF3D;
    text-align:center;
}
h2 {
    font-size: 2.5rem;

}
h3 {
    font-size: 1rem;
    margin: 2px;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
.motto {
    font-size: 10pt;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    text-align:center;
    /*font-style: italic;*/
}
p {
    color:#FFCF3D;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
a {
    color:#FFCF3D;
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    text-align: center;   
}
button {
    background-color:#003E1F;
    color:#00F57A;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}
nav {
	background-color:#003E1F;
    font-size: 1rem;
    color:#00F57A;
	text-align: center;
	box-shadow:10px 5px 5px black;
    max-width: 100%;
}
nav button {
    margin: 0.5rem 5%;
    font-size: 1rem;
    background-color:#003E1F;
    color:#00F57A;
    border: none;
    font-family: 'EB Garamond', serif;
}
nav ul.primaryNav {
    display:flex;
}
.active {
    background-color:rgba(214, 128, 15, 0.486);
}
nav ul li a {
    color:#FFCF3D;
	display: grid;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'EB Garamond', serif;
}
nav a:link, nav a:visited {
    color:#00F57A;
}
nav a:hover {
    background-color:#FFCF3D;
    color:#153F65;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
  
  body {
    font-weight: 400;
    font-size: 1rem;
    color:#FFCF3D;
    line-height: 1.6;
    font-family: 'EB Garamond', serif;
  }
  
  header,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#153F65;  
  }
  
  #banner {
    display: none;
    margin: auto;
    margin-top: -20px;
    text-align: center;
    font-weight: 700;
    color:#FFCF3D;
    background-color:#153F65;
    padding: 10px;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    border:#FFCF3D;

}
    aside {
        margin: 0.5rem;
        border: 1px solid #bbb;
        padding: 0.75rem 1rem;
        background-color: #FFCF3D;
        color: #003E1F;
    }
header {
    background-color:#153F65;
    font-family: 'Barlow', sans-serif;
    max-width: 100%;
    display: flex;
    
}
header img {
    width: 80px;
    height: auto;
    padding: 0.5rem;
    margin: 0;
}

  
  footer {
    padding: 1rem 0;
    margin-top: 2rem;
  }

  
.visit-container{
    text-align: center;
    padding: 10px 0 0 10px;
    background-color: #FFCF3D;
    color:#153F65;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 5px;
	background-color: #FFCF3D;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}
/* detailed*/

.directory{
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 80%;
    background-color:#153F65;
    
    
    }
    
    .menuDirectory {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #FFCF3D;
    text-align: center;
    }
    
    .menuDirectory button {
    padding: 1rem;
    font-weight: 700;
    background-color:#003E1F;
    color: #FFCF3D;
    }
    .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
    
    } 
    .grid section {
    text-align: center;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    max-height: 100%;
    }
    
    .grid img {
    border: 1px solid #003E1F;
    box-shadow: 0 0 10px #FFCF3D;
    }
    
    .grid section > * {
    margin: 0.1rem;
    }
    
    .grid h3 {
        font-family: 'EB Garamond', serif;
    }
    
    .list {
    display: flex;
    flex-direction: column;
    }
    
    .list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    
    }
    
    .list section > * {
    margin: 0 1rem;
    }
    
    .list section img {
    display: none;
    }
    
    .list section h3 {
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    }
    
    .list section:nth-child(even) {
        border: 2px solid #FFCF3D;
    border-radius: 4px; 

    }
    
    section h3 {
    font-size: 1.5rem;
    }
    
    section p {
    font-weight: 600;
    font-size: smaller;
    }
    
    section a {
        font-family: 'EB Garamond', serif;
    font-size: 0.85rem;
    color: #FFCF3D;
    letter-spacing: 1.1pt;
    }
    
    img {
    height: 75px;
    max-width: 100%; 
    }
    
 
