main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color: #C3CAD0;
}

body {
	height: 100vh;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	font-family: 'EB Garamond', serif;
	color: navy;
}
aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #FFCF3D;
}
header {
    text-align: center;
    background-color:#153F65;
    font-family: 'Barlow', sans-serif;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin-top: 4%;
}
header img {
    width: 80px;
    height: auto;
    padding: 0.5rem;
    margin: 0;
}

/*#date {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    color:#FFCF3D;
    background-color: #f2d4c0;
    padding: 10px;
    font-size: 12px;
   
}*/



#banner {
    display: none;
    
    margin: auto;
    margin-top: -20px;
    text-align: center;
    color: #984710;;
    font-weight: 700;
    color:#FFCF3D;
    background-color:#153F65;
    padding: 10px;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    border: #FFCF3D;

}
h1 {
    font-size: 2rem;
    margin: auto;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    margin-top: 4%;
    text-align: center;
}
h2, h3, h4, h5 {
    font-family: 'Barlow', sans-serif;
    color:#003E1F;
    text-align:center;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
.motto {
    font-size: 1rem;
    color:#FFCF3D;
    font-family: 'Barlow', sans-serif;
    text-align:center;
}
p {
    color:#FFCF3D;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
a {
    color:#FFCF3D;
    font-size: 1.3rem;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    text-align: center;   
}
button {
    background-color:#003E1F;
    color:#00F57A;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}
nav {
	background-color:#003E1F;
    font-size: 1rem;
    color:#00F57A;
	text-align: center;
	box-shadow:10px 5px 5px black;
    max-width: 100%;
}
nav button {
    margin: 0.5rem 5%;
    font-size: 1rem;
    background-color:#003E1F;
    color:#00F57A;
    border: none;
    font-family: 'EB Garamond', serif;
}
nav ul.primaryNav {
    display:none;
}
nav ul li a {
    background-color: #003E1F;
    color:#FFCF3D;
	display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'EB Garamond', serif;
    display:block;
}
nav a:link, nav a:visited {
    color:#00F57A;
}
nav a:hover {
    background-color:#FFCF3D;
    color:#153F65;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.contentbox, .contentbox hero, .contentbox forecast {
    margin: 20px;
    color:#00F57A;
    background-color:#003E1F;
    border: 2px solid black;
}
footer {
    background-color:#153F65;
    color:#FFCF3D;
    padding: 1rem;
    text-align:center;
    margin: 0.5rem;
    max-width: 100%;
}